<!DOCTYPE html>
<html ng-app="parser">
	<head>
		<meta charset="utf-8" />

		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	</head>
	<body ng-controller="BodyController">
		<ng-include src="'assets/html/header.html'"></ng-include>
		<section class="main">
			<div class="container">
				<div class="table-responsive mt-3">
					<table class="table">
						<thead>
							<tr>
								<th class="col">Название</th>
								<th class="col">Ссылка</th>
								<th class="col">Требования</th>
								<th class="col">Задачи</th>
								<th class="col">Дата</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items" ng-style="{'background' : isAlreadySeen(item.id) ? '#e9ffef' : 'none'}">
								<td>{{item.name}}</td>
								<td><a ng-click="setAlreadySeen(item.id)" href="{{item.alternate_url}}">{{item.alternate_url}}</a></td>
								<td>{{item.snippet.requirement}}</td>
								<td>{{item.snippet.responsibility}}</td>
								<td>{{item.created_at | date : 'dd-MM-yyyy HH:mm'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<ng-include src="'assets/html/footer.html'"></ng-include>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="assets/script.js"></script>
	</body>
</html>
